{% extends 'base.admin.menu.html.twig' %}

{% block body %}

            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="settings">
                        <article>
                            <div class="col-xs-12 margin-vertically">
                                <div class="row">
                                    <h4>Client Credits</h4>
									<br clear='all'/>
									&nbsp;<br/>
									Client Usage report is not yet available.
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>


	
{% endblock %}