{% extends 'ud.email.html.twig' %}
{% block body %}

<h5>Hello {{ name }}</h5>

    <p>{{ candidate }} has completed their qualification check. </p>
    <p>The current status is {{ status }}</p>

<p>Many Thanks</p>

<p>Stratis Website</p>

{% endblock %}
