{% extends 'ud.email.html.twig' %}
{% block body %}

<h5>Hello,</h5>

<p>Please enter the code <b>{{code}}</b> where prompted on the website, to verify your email address.</p>

<p>Many Thanks</p>

<p>Koine Website</p>

{% endblock %}
