{% extends 'base.admin.menu.html.twig' %}

{% block body %}

<div class="col-lg-12">
			
		<div class="tab-content">
			<div class="settings">
				<article>
					<div class="col-xs-12 margin-vertically no-left">
						<div class="row col-xs-12">
							<h4>Job Application URL</h4>
						</div>
					</div>
				</article>


				<article>
					<div class="col-md-12">
						<div class="row ">
							You are currently logged in as an administrative user, and therefore are unable to apply for jobs via this site.
						</div>
					</div>
				</article>
				

			</div>
		</div>
	</div>

{% endblock %}


