parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    mailer_transport: smtp
    mailer_host: smtp.mandrillapp.com
    mailer_user: Koine
    mailer_port: 587
    mailer_password: 4haP9ufFpN271BeBwXHNLg
    secret: ThisTokenIsNotSoSecretChangeIt
    media_full_path: /usr/share/nginx/html/hireabl-jobs/web/media
    cacert: /etc/apache2/ssl/cacert.pem
    restapikey: f--c36GCwJzoXzt343dm
    formatids: 32bfeb00-0e53-0131-0564-22000a8dafd5
    base_app: a-a2557780-c102-0133-4ca1-12819bc4053b
    qual_url: 'https://api.qualificationcheck.com'
    qual_username: matt.dangerfield@hireabl.com
    'qual:password': '!Q2w3e4r5t^Y'
    consent_import: /usr/share/nginx/html/hireabl-jobs/web/assets/consent_files
    disclosure_domain: 'https://onlinedisclosures.co.uk/api/v1/'
    disclosure_pin: 129698
    disclosure_sharedKey: J8QOmo1ga8_srO5VPBof_2
    disclosure_position: 'Academy Manager'
    disclosure_product: Enhanced
    bcc_to: scott@erigan.co.uk
    version: v3.0.0
    gbg_wsdl: 'https://www.id3global.com/ID3gWS/ID3global.svc?wsdl'
    gbg_user: ScottB@hireabl.com
    gbg_password: KPX-U4p-QGD-x8r
    gbg_profile: 03a6d4f4-bba7-4dbc-a051-d33ae431e700
    search_api_key: 25EFF4EF48ADC879CE9ACCE7BB8606FA
    search_admin_key: 4F2AD180D8CB80BB564F4EFBD3B6B016s
    search_index: hireabl-applicants
    search_env: lcl
    cobalt_senior: 249bde5c340b4368f0e8c5e29a2ccd90
    cobalt_junior: 0bed38799c302f45e0cb6430bbadf056
    custom_logo_path: /usr/share/nginx/html/hireabl-jobs/public/images/
    domain: 'http://local.hireabl-employee.koine.com'
    postcode_lookup_key: gd2WInAUpEOV8t_NSQl-Tw21135
    postcode_lookup_url: https://api.getAddress.io/find/
    idsPath: /usr/share/nginx/html/ids/
    tmpPath: /tmp
    FPDF_FONTPATH: /usr/share/nginx/html/hireabl-jobs/web/pdf
    webPath: /usr/share/nginx/html/hireabl-jobs/web
