{% extends 'ud.email.html.twig' %}

{% block body %}


<h2>
    Qualification Check - API Authentication Error Occurred
</h2>
<p>
    The Qualification system has failed to authenticate and an error has been displayed.
</p>

{% endblock %}

