{% extends 'base2.html.twig' %}
{% block body %}
    <div class="row m-0">
        <div class="col-sm-8 offset-sm-2 mt-3 pt-3">
            <div class="page-title">
                <div class="title checkabl"><h2>Qualification Check - Token Error</h2></div>
            </div>
        </div>
        <div class="col-sm-8 offset-sm-2">
            <div class="alert alert-danger">The token has either expired or been used already. If you want to track your progress please <a href="{{ path('login') }}">login</a> to the site.  If you have forgotten your password use can <a href="/login/forgottenpassword">reset it</a></div>
        </div>
    </div>
{% endblock %}
