{% extends 'base.admin.menu.html.twig' %}

{% block body %}


    <div class="col-lg-12">
        <div class="tab-content">
            <div class="settings">

                    <div class="col-xs-12 margin-vertically no-left">
                        <div class="row col-xs-12">
                            <h4>Qualification Checks</h4>
                        </div>

                        <div class="row col-xs-12">
                            To request a qualification check please go to the <a href="{{ path('applicant_view') }}">ATS applicants</a> page and search for the applicant. From there you can request extra checks
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}