{% extends 'base.html.twig' %}


{% block content %}
    <div class="container col-md-6">
       <h3>Change Passsword</h3>
        {{ form_start(form) }}


            {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}