{% extends 'base.admin.menu.html.twig' %}

{% block body %}



    <section>
        <div class="container-fluid">
            <div class="page-title">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title checkabl">
                                <h2>Disclosure ID Verification</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row alert alert-info">
                    The Disclosure has been successfully verified. You can check the status of the application from the <a href="/disclosures">Disclosure section</a>
                </div>
            </div>
        </div>

</section>

{% endblock %}
