{% extends 'base.html.twig' %}

{% block body %}



<h1>Koine Privacy Policy</h1>

<p>
This Policy explains how Koine treats your and your
customers data that Koine accrues in the provision of its service and
how we comply with the relevant privacy regulations from time to time,
including GDPR.
</p>
<p>
In short, Koine only collects that data which is required to provide the
service. We don’t frivolously manipulate it, sell it, aggregate it for other
people or otherwise use it for anything other than for the provision of
recruitment process outsourcing services or as part of our pre-
employment and employee background screening services.
The use of any service offered by Koine shall indicate acceptance of
this policy.
</p>
<p>
We are committed to subjecting all personal data received in
accordance with the UK Government Data Protection Act 1998 (DPA)
and also ensuring that data received about any European Union or
Swiss national is handled in accordance with the EU General Data
Protection Regulation (GDPR). If there is any conflict between the
policies in this Privacy Policy and the DPA or GDPR policies, the GDPR
shall prevail.

<h2>What information do we collect?</h2>
<p>
We collect a variety of information depending on which service you use:
</p>
<p>

<h2>Koine Recruitment Process Outsourcing Services &amp; Pre-
Employment or Employee screening Services</h2>

<p>
We collect information about you when you register with us as part of
our Recruitment Process Outsourcing Service or Pre-Employment or
Employee screening Services	
</p><p>
The information we collect will be directly related to your application for
employment or as part of screening requested by an employer and may
include personal and sensitive details, such as, but not limited to, the
following:

<ul>
	<li>Name, email, job title and contact numbers
	<li>Address
	<li>Employment history
	<li>Qualifications
	<li>References
	<li>Acceptance of terms and conditions form a third party / employer
	<li>Photo ID documentation
	<li>Video interviewing content (your answers to interview questions).

	<li>Geo-location data - Koine may have access to geo-location data as
	indicated by your IP address. We collect and process IP addresses of all
	devices where some of our services are made available on (i.e. Koine
	live chat services). Collecting and processing your geo-location data
	refers to mobile devices as well as computers.
	<li> Third party personal data.
</ul>

Depending on the Koine products used/purchased we may collect or
allow you to provide us with third party personal data. The information
that we may collect is name, email address, other contact information
and any other information relayed to us by the relevant third party. This
may be done to allow you to provide access to certain products and
systems to others within your organisation or to allow us to send
information from our system to others on behalf of one of your callers or
live chat visitors or yourself.
<p>
We will not use this information for any purpose which is not compliant
with our Privacy Policy.
</p>

<h2>Cookies</h2>
<p>
Cookies are used while using all Koine Services.
The cookies enable us to quickly confirm the identity of visitor and allow
us to track the pages they have visited and if they have visited the site
previously which allows our system to either greet them differently as a
</p><p>
returning user or allows us to see what page they are currently on and
which page they came from to offer the most effective service possible.
The cookies are used solely with the purpose of personalising the
experience for a particular user
</p>

<button type="button" style="margin-top:20px" class="btn btn-black" onclick="history.back(-1)">Go Back</button>

{% endblock %}
