{% extends 'base.admin.menu.html.twig' %}

{% block body %}

<div class="col-lg-12">
	<div class="settings">

		<div class="col-xs-12 no-left">
			<div class="row col-xs-12 margin-vertically no-left">
				<h4>GDPR Data Download</h4>
			</div>
				To use this function, please contact your account manager. 

		</div>


	</div>
</div>


{% endblock %}
